header
    nav#navbar
            ul
                    li #[a(href = "/") Home]
                    li #[a(href = "/") Products] 
                    li #[a(href = "/") Variants]
                    li #[a(href = "/") Images]