header
    nav.navbar
            ul#navLinks
                    li #[a#links(href = "/") Home]
                    li #[a#links(href = "/main") Main]
                    li #[a#links(href = "/products") Products] 
                    li #[a#links(href = "/variants") Variants]
                    li #[a#links(href = "/images") Images]