form(action='/images', method="POST")
    label( for="variant" ) Variant: 
    select( name='variantId' ) 
        for variant in variants
            option( value=variant.id ) #{ variant.title }
    br
    input( type="submit" name="submit" id="submit" )

    