form(action='/images' enctype="multipart/form-data" method="POST")
    input( type="hidden" name="id" value=image.id)
    label( for="variant" ) Variant: 
    select( name='variantId' ) 
        for variant in variants
            option( value=variant.id ) #{ variant.title }
    br
    label( for="image") Upload Image:
    br
    input( type="file" name="image" id="image" )
    input( type="submit" name="submit" id="submit" )

    