extends ../../layout/base

block content 
    h1 All Images:
    ul 
        each image in images
            li= image.id     
            a(href='images/'+image.id) Edit 
            a(href='images/'+image.id+'/delete') Delete
    br
    a(href='images/new') Create New Image