html  
    head
        title ASL Project
    body
        include ../partials/_header

        section
            p This is a post about Pug template engine, enjoy it!
            
            block content

        include ../partials/_footer