html  
    head
        title E-Shop
        
        block stylesheets
         link( rel='stylesheet', href='../../public/app.css' )
    body
        include ../partials/_header

        block content

        block scripts
         script(type='text/javascript', src='../../public/app.js')